# This repository is owned by the UDS Foundry Team
* @uds-packages/uds-foundry @uds-packages/federal-swf

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
/LICENS* @jeff-mccoy @austenbryan
